<div class="container">
  <h1>Simulateur de protocole vaccinal</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="tab === 'necessary-persons'" href="#" (click)="tab = 'necessary-persons'">Personnes nécessaires</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tab === 'necessary-months'" href="#" (click)="tab = 'necessary-months'">Temps nécessaires</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tab === 'vaccinated-persons'" href="#" (click)="tab = 'vaccinated-persons'">Personnes vaccinées</a>
    </li>
  </ul>

  <div class="mt-4">
    <app-necessary-persons [class.d-none]="tab !== 'necessary-persons'"></app-necessary-persons>
    <app-necessary-months [class.d-none]="tab !== 'necessary-months'"></app-necessary-months>
    <app-vaccinated-persons [class.d-none]="tab !== 'vaccinated-persons'"></app-vaccinated-persons>
  </div>

  <footer class="mt-5 mb-2 text-right text-muted small">
    Réalisé avec ❤️, rage et beaucoup d'inquiétude par Jean-Baptiste Nizet. <a href="https://github.com/jnizet/vaccine-simulator">Sources</a>.
  </footer>
</div>

