@import 'src/custom-bootstrap';

.result {
  background-color: $dark;
  color: $white;
}

.result-number {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.result-explanation {
  font-size: large;
  padding-top: 1rem;
}
